/* MAIN SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: "Russo-Regular";
    src: url("./fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "Source-Bold";
    src: url("./fonts/SourceCodePro-Bold.ttf");
}

@font-face {
    font-family: "Source-Medium";
    src: url("./fonts/SourceCodePro-Medium.ttf");
}

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* PRE SCREEN */
#alert-screen {
    display: none;
}

#pre-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#mask {
    width: 300px;
    margin: 0 auto;
}
#mask:hover {
    cursor: pointer;
}

#warning {
    margin-top: 50px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}


/* START SCREEN */

#splash {
    background-image: url("../img/cityscape-day.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@keyframes title {
    from {width: 20%;}
    to {width: 80%;}
}

#game-instructions {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: "Source-Bold";
    font-size: 20px;
    color: red;
    animation-name: infection-blip;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#game-instructions:hover {
    cursor: pointer;
}

#title {
   position: relative;
   top: 100px;
   display: block;
   width: 80%;
   animation-name: title;
   animation-duration: 10s;
   margin-left: auto;
   margin-right: auto;
}

@keyframes press {
    0% {top: 1500px;}
    50% {top: 230px; background-color: red; border: 3px solid rgb(220, 20, 60, 1)}
    60% {background-color: lightgray; border: 3px solid rgb(220, 20, 60, 0.9)}
    70% {background-color: red; border: 3px solid rgb(220, 20, 60, 0.8)}
    80% {background-color: lightgray; border: 3px solid rgb(220, 20, 60, 0.6)}
    90% {background-color: red; border: 3px solid rgb(220, 20, 60, 0.4)}
    100% {background-color: lightgray; border: 3px solid rgb(220, 20, 60, 0.2);}
}   

.arcade-button {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
    background-color: lightgrey;
    animation-name: press;
    animation-duration: 3s;
}
.arcade-button:hover {
    border: 5px solid red;
    cursor: pointer;
}

.arcade-button img {
    width: 250px;
}


/* INSTRUCTIONS POPUP */
#instructions {
    background-color: white;
    height: 600px;
    width: 800px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#instructions .popup-closer {
    height: 10%;
    position: relative;
}
#instructions .popup-closer #infect-prompt {
    font-family: "Source-Bold";
    font-size: 20px;
    color: red;
    text-transform: uppercase;
    animation-name: infection-blip;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 2s;
}
@keyframes infection-blip {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
#instructions .popup-closer p+p {
    font-family: "Russo-Regular";
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
}
#instructions .popup-closer p:hover {
    cursor: pointer;
    transform: scale(1.5)
}

#instructions .popup-content {
    height: 90%;
    padding: 0 50px 30px;
    font-family: "Source-Medium";
    font-size: 14px;
    text-align: center;
}
.popup-content .bold-text {
    font-family: "Source-Bold";
}
.popup-content .content-block:not(.content-block:last-child) {
    margin-bottom: 20px;
}

.popup-content #keyboard-img {
    width: 200px;
}

.popup-content #building-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#building-wrapper .building-img {
    width: 65px;
}

.popup-content #sanitizer-img {
    width: 50px;
}

/* GAME SCREEN */
header {
    background-color: gray;
    height: 100px;
    border: 5px ridge gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heart-img {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 65px;
}

#life-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    height: 80px;
    width: 30%;
    padding-top: 20px;
}

.life-bar {
    height: 40px;
    width: 70px;
    border: 2px solid gray;
    display: block;
}

#critical {
    background-color: red;
}

#wounded {
    background-color: orange;
}

#healthy {
    background-color: lightgreen;
}

#score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 50%;
    height: 50px;
}

#score-container img {
    width: 35%;
    height: 50px;
    
}

#score-container p {
    position: relative;
    bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
}

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* END SCREEN */
#end {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/cityscape.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.end-screen {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#highscore-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes hscore {
    from {transform: rotate(20deg);}
    to {transform: rotate(360deg);}
}

#highscore {
    margin-top: 100px;
    animation-name: hscore;
    animation-duration: 5s;
}

#ranking-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

ol,
ul {
    width: auto;
    margin: auto;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: black;
    margin-bottom: 80px;
    list-style-type: none;
}

#replay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#replay-button {
    background-color: lightgrey;
    border: none;
    animation-name: press;
    animation-duration: 3s;
    width: 100%;
    height: 100px;
}
#replay-button:hover {
    cursor: pointer;
    animation-name: replay-blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes replay-blink {
    0% {background-color: lightgrey;}
    25% {background-color: red;}
    50% {background-color: lightgrey;}
    75% {background-color: red;}
    100% {background-color: lightgrey;}
}


/* ZOMBIECAT BRANDING PACK */
.branding-pack {
    width: fit-content;
    text-align: center;
}
.branding-pack:link, 
.branding-pack:visited, 
.branding-pack:active, 
.branding-pack:hover {
    text-decoration: none;
    color: black;
}
.branding-pack:hover {
    cursor: pointer;
}
.branding-pack--intro {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
}
.branding-pack--cover, 
.branding-pack--end {
    position: absolute;
    top: 25px;
    right: 25px;
}
.branding-pack--end {
    z-index: 999;
}

.branding-heading {
    font-family: "Russo-Regular";
    font-size: 25px;
    margin: 0;
}
.branding-pack:hover .branding-heading {
    text-shadow: 3px 1px 20px black, -3px -1px 20px black;
}
.branding-pack--cover .branding-heading, 
.branding-pack--end .branding-heading {
    font-size: 16px;
}

.branding-img {
    width: 50px;
}
.branding-pack--alert .branding-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1300px) {
    main #pre-screen {
        display: none;
    }
    
    main #alert-screen {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        width: fit-content;
        transform: translate(-50%, -50%);
    }

    #alert-screen .alert-text {
        font-size: 20px;
        font-family: "Russo-Regular"; 
        color: black;
        margin-bottom: 20px;
        text-align: center;
    }
    #alert-screen .alert-text:nth-child(2) {
        margin-bottom: 40px;
    }
}